:root {
  --padding: 8px;
  --margin: 12px 0px;
  --blue: rgb(45, 89, 231);
  --dark-blue: rgb(30, 42, 109);
}

body {
  font-family: Arial, Helvetica, sans-serifs;
  font-size: 16px;
}
header, main {
  margin: 1rem 15rem;
}
header {
  display: flex;
  justify-content: space-between;
}
p {
  padding: var(--padding);
  margin: var(--margin);
}

.cta {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 5px;
  padding: var(--padding);
}

.cta:hover {
  border: 1px solid rgb(30, 42, 109);
  border-radius: 5px;
  color: #FFF;
  background-color: var(--blue);
}

.button {
  width: fit-content;
  cursor: pointer;
}

.question-number {
  display: inline-block;
  background-color: var(--blue);
  color: #FFF;
  padding: 0px 8px;
  width: fit-content;
  border-radius: 90px;
}

p.question {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: -32px;
}
li.answer {
  padding: var(--padding);
  width: fit-content;
}
li.answer:hover {
  background-color: #eee;
  border-radius: 5px;
}

#msg .wrong {
  color: rgb(179, 8, 8);
  font-weight: bold;
}

#msg .correct {
  color: rgb(9, 136, 51);
  font-weight: bold;
}

#quizTimer {
  display: none;
  font-size: 1.4rem;
  color: #FFF;
  background-color: var(--dark-blue);
  padding: 4px 12px;
  border-radius: 8px;
}

#quizTimer.error {
  background-color:rgb(179, 8, 8);
}